<button mat-raised-button (click)="navigateToProductCreate()" class="button-new-product" color="primary">
    Novo produto
</button>

<button mat-raised-button [disabled]="btnDeleteDisabled" class="btn-delete-product" (click)="onProductDelete()">
    Deletar produto
</button>

<button mat-raised-button [disabled]="btnEditDisabled" class="btn-edit-product" (click)="onProductEdit()">
    Editar produto
</button>

<app-product-table (selectedItemTableEvent)="onSelectedProducts($event)"></app-product-table>